/* Links Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.links-page {

}

// Elements/Mixes
.links-page__paragraph-example {
  @include typography(m);
}

.links-page__grid,
.links-page__alert-grid {
  max-width: 480px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0 $spacing-xs;
}

.links-page__alert-grid {
  grid-template-rows: 1fr 1fr;
}

.links-page__grid-item,
.links-page__alert-grid-item {
  padding: $spacing-m 0;
}

.links-page__grid-item {
  max-width: 160px;
}

.links-page__alert-caption {
  margin-bottom: $spacing-m;
}
// Modifiers
.links-page__link--border {
  border: dashed 1px $color-medium-gray;
  border-radius: 4px;
  box-sizing: content-box;
}

// Breakpoints
@media (min-width: 480px) {
  .links-page__grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 $spacing-m;
  }
}
