// Style Guide • Color Core Module

// Variables
$sg-color-light-blue: rgba(204, 227, 239, 1); // #CCE3EF
$sg-color-light-green: rgba(225, 237, 210, 1); // #E1EDD2
$sg-color-light-red: rgba(246, 214, 214, 1); // #F6D6D6
