// Typography

// Functions
@function rem($pixels, $context: 16) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

// Variables
$typography-font-family: "Source Sans Pro", sans-serif !default;

$typography-font-weight-values: (
  regular: 400,
  semi-bold: 600,
  bold: 700
) !default;

$typography-styles: (
  heading1: (
    font-size: rem(32px),
    line-height: rem(30px),
    font-weight: map-get($typography-font-weight-values, bold),
    letter-spacing: rem(0.8px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  heading2: (
    font-size: rem(24px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, bold),
    letter-spacing: rem(0.3px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  heading3: (

    // 18.66px (14pt) for level AA conformance
    // https://webaim.org/resources/contrastchecker/?fcolor=68A51C&bcolor=FFFFFF&api.
    font-size: rem(18.66px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, semi-bold),
    letter-spacing: rem(0.26px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  heading4: (
    font-size: rem(16px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, semi-bold),
    letter-spacing: rem(0.23px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  heading5: (
    font-size: rem(12px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, semi-bold),
    letter-spacing: rem(0.3px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  heading6: (
    font-size: rem(10px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, semi-bold),
    letter-spacing: rem(0.3px),
    text-decoration: inherit,
    text-transform: inherit
  ),
  caption: ( // caption, label, secondary details
    font-size: rem(12px),
    line-height: rem(15px),
    font-weight: map-get($typography-font-weight-values, regular),
    letter-spacing: normal,
    text-decoration: inherit,
    text-transform: inherit
  ),
  input: (
    font-size: rem(16px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, regular),
    letter-spacing: normal,
    text-decoration: inherit,
    text-transform: inherit
  ),
  main: ( // Main copy
    font-size: rem(14px),
    line-height: rem(20px),
    font-weight: map-get($typography-font-weight-values, regular),
    letter-spacing: normal,
    text-decoration: inherit,
    text-transform: inherit
  ),
  secondary: ( // Secondary copy
    font-size: rem(13px),
    line-height: rem(15px),
    font-weight: map-get($typography-font-weight-values, regular),
    letter-spacing: normal,
    text-decoration: inherit,
    text-transform: inherit
  ),
  button: (

    // 18.66px (14pt) for level AA conformance
    // https://webaim.org/resources/contrastchecker/?fcolor=68A51C&bcolor=FFFFFF&api.
    font-size: rem(18.66px),
    line-height: rem(44px),
    font-weight: map-get($typography-font-weight-values, bold),
    letter-spacing: rem(0.26px),
    text-decoration: none,
    text-transform: none
  )
) !default;

// Mixins
@mixin typography-base {
  font-family: $typography-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin typography($style) {
  $style-props: map-get($typography-styles, $style);

  @include typography-base;

  @each $key, $value in $style-props {
    #{$key}: $value;
  }
}
