// Colors
$color-brand-green: rgba(104, 165, 28, 1);
$color-green: rgba(83, 121, 22, 1);
$color-red: rgba(212, 48, 48, 1);
$color-blue: rgba(0, 115, 177, 1);
$color-yellow: rgba(247, 204, 0, 1);
$color-white: rgba(255, 255, 255, 1);

// Five Shades of Grey
$color-charcoal: rgba(61, 61, 61, 1);
$color-dark-gray: rgba(118, 118, 118, 1);
$color-medium-gray: rgba(204, 204, 204, 1);
$color-light-gray: rgba(238, 238, 238, 1);
$color-background-gray: rgba(246, 246 ,246, 1);
