// Color Core Module

// Variables
// Black & White
$color-black: rgba(0, 0, 0, 1); // #000000
$color-white: rgba(255, 255, 255, 1); // #FFFFFF

// Asda Green
$color-green: rgba(104, 165, 28, 1); // #68A51C
$color-dark-green: rgba(83, 121, 22, 1); // #538316
$color-green-disabled: rgba(180, 210, 142, 1); // #B4D28E

// Secondary Colors
$color-blue: rgba(0, 115, 177, 1); // #0073B1
$color-blue-disabled: rgba(127, 185, 216, 1); // #7FB9D8
$color-red: rgba(212, 48, 48, 1); // #D43030
$color-yellow: rgba(247, 204, 0, 1); // #F7CC00

// Grays
$color-charcoal: rgba(61, 61, 61, 1);  // #3D3D3D
$color-dark-gray: rgba(118, 118, 118, 1); // #767676
$color-medium-gray: rgba(204, 204, 204, 1); // #CCCCCC
$color-light-gray: rgba(238, 238, 238, 1); // #EEEEEE
$color-background-gray: rgba(246, 246 ,246, 1); // #F6F6F6

// Transparents
$color-transparent: rgba(255, 255, 255, 0); // transparent
$color-charcoal-transparent: rgba($color-charcoal, 0.5); // #3D3D3D (50%)

// Mixins
@mixin color-base {
  ::-moz-selection {
    color: $color-white;
    background: $color-green;
  }

  ::selection {
    color: $color-white;
    background: $color-green;
  }
}
