/* Special Buttons Page */

// Dependencies
@import "@asda/core/style";
@import "../components/sg-core/style";

// Block
.special-buttons-page {

}

// Elements/Mixes
.special-buttons-page__list {
  max-width: 480px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0 $spacing-xs;
}

.special-buttons-page__item {
  padding: $spacing-m 0;
}

// Breakpoints
@media (min-width: 480px) {
  .special-buttons-page__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 $spacing-m;
  }
}
