$apl-button-height: 40px;
$apl-button-horizontal-padding: 16px;
$apl-button-border-radius: 2px;
$apl-button-border-width: 1px;

// TODO: Move to Theme
$apl-button-black: #000000;
$apl-button-green: #68A51C;
$apl-button-red: #E44F4F;
$apl-button-blue: #2F7F99;
