// Dependencies
@import "@asda/core/style";
@import "../components/sg-core/style";

.buttons-page__list {
  list-style: none;
  padding: 0;
  margin: $spacing-xxl 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0 $spacing-xs;
}

.buttons-page__item {
  padding: $spacing-m 0;
}

.buttons-page__description {
  @include sg-typography(xs);
  margin-top: $spacing-xxs;
}

@media (min-width: 480px) {
  .buttons-page__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
