/* Checkbox Component */

// Dependencies
@import "@asda/core/style";
@import "mixins";

// Block
.checkbox {
  @include checkbox;
  z-index: 1;
}

// Elements/Mixes
.checkbox__input {
  @include checkbox__input;

  &:checked {
    & ~ .checkbox__icon-check {
      display: inline-flex;
    }

    & ~ .checkbox__background {
      background: $color-green;
      opacity: 1;
    }
  }

  &[disabled]:not([checked]) {
    cursor: not-allowed;
    border-color: $color-medium-gray;

    & ~ .checkbox__icon {
      color: $color-medium-gray;
    }

    & ~ .checkbox__background {
      background-color: $color-light-gray;
      opacity: 1;
    }
  }

  &[disabled]:checked {
    cursor: not-allowed;
    border-color: $color-green-disabled;

    & ~ .checkbox__background {
      background-color: $color-green-disabled;
      opacity: 1;
    }
  }
}

.checkbox__icon {
  display: none;
  position: absolute;
  top: calc(50% - #{$spacing-s});
  left: calc(50% - #{$spacing-s});
  margin: auto;
  z-index: 0;
}

.checkbox__background {
  @include checkbox__background;
}

// Modifiers
.checkbox--indeterminate {
  .checkbox__icon-minus {
    display: inline-flex;
  }

  .checkbox__input {
    & ~ .checkbox__icon-check {
      display: none;
    }
  }
}

// For demo purposes only
.checkbox--hover {
  .checkbox__input:not([disabled]) {
    border-width: 2px;
  }
}
