/* Android • Typography Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.android-typography-page {

}

// Elements/Mixes
.android-typography-page__typescale {
  margin-bottom: $spacing-xxxl;
}

.android-typography-page__specs {
  @include sg-typography(xs);
}

.android-typography-page__attribute {
  display: block;
  line-height: rem(15px);
  margin-right: $spacing-l;
  white-space: nowrap;
}

.android-typography-page--xl {
  font-size: rem(24px);
  line-height: rem(28px);
  letter-spacing: rem(0.3px);
}

// Breakpoints
@media (min-width: 480px) {
  .android-typography-page__attribute {
    display: inline;
  }
}

@media (min-width: 768px) {
  .android-typography-page__characters {
    line-height: rem(56px);
  }

  .android-typography-page__weight-list {
    margin: 80px auto $spacing-xxxl auto;
  }

  .android-typography-page__weight-example {
    font-size: rem(72px);
  }
}
