// Variables
$button-height: 40px;
$button-secondary-border-width: 1px;
$button-secondary-border-width-hover: 2px;

// Block
@mixin button_base {
  -moz-appearance: none;
  -webkit-appearance: none;

  font-family: inherit;
  @include typography(l);
  font-weight: 600;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle; // Needed to align buttons horizontally
  height: $button-height;
  padding: 0 $spacing-m;
  position: relative;
  user-select: none;
  line-height: $button-height + 1;
  background-color: $color-transparent;
  border: 0;
  border-radius: 4px;
  overflow: hidden;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent;
    opacity: 1;
  }

  &:focus:not(.button--disabled),
  &:hover:not(.button--disabled),
  &.button--hover:not(.button--disabled) { // For demostrantion purposes only
    cursor: pointer;
    box-shadow: $shadow;

    &:active {
      box-shadow: none;
    }
  }
}

@mixin button_primary_base {
  color: $color-white;

  &:focus:not(.button--disabled),
  &:hover:not(.button--disabled),
  &.button--hover:not(.button--disabled) { // For demostrantion purposes only
    &::after {
      background-color: $color-black;
      opacity: 0.1;
    }
  }

  &:active:not(.button--disabled), {
    &::before {
      background-color: $color-black;
      opacity: 0.1;
    }
  }
}

@mixin button_secondary_base {
  background-color: $color-white;
  border: solid $button-secondary-border-width currentColor;
  padding: 0 $spacing-m - $button-secondary-border-width;
  // line-height: $button-height - ($button-secondary-border-width * 2);
  line-height: $button-height + $button-secondary-border-width;


  &:focus:not(.button--disabled),
  &:hover:not(.button--disabled),
  &.button--hover:not(.button--disabled) { // For demostrantion purposes only
    border: solid $button-secondary-border-width-hover currentColor;
    padding: 0 ($spacing-m - $button-secondary-border-width-hover);
    // line-height: $button-height - ($button-secondary-border-width-hover * 2);
    line-height: $button-height;

    .button__content {
      height: $button-height - ($button-secondary-border-width-hover);
    }
  }
}
