/* Button Component */

// Dependencies
@import "@asda/core/style";
@import "mixins";

// Block
.button {
  @include button_base;
  text-decoration: none;
}

// Elements/Mixes
.button__content {
  height: $button-height;
  position: relative;
  z-index: 1;
}

.button__icon {
  margin-right: $spacing-xs;
  position: relative;
  z-index: 1;
}

// Modifiers
.button--primary {
  @include button_primary_base;

  &.button--disabled {
    &.button--green {
      background-color: $color-green-disabled;
    }

    &.button--blue {
      background-color: $color-blue-disabled;
    }

    &.button--red {
      background-color: $color-red-disabled;
    }
  }
}

.button--green {
  background-color: $color-green;
}

.button--blue {
  background-color: $color-blue;
}

.button--red {
  background-color: $color-red;
}

.button--secondary {
  @include button_secondary_base;

  &.button--green {
    color: $color-green;
  }

  &.button--blue {
    color: $color-blue;
  }

  &.button--red {
    color: $color-red;
  }

  &.button--disabled {
    &.button--green {
      color: $color-green-disabled;
    }
    &.button--blue {
      color: $color-blue-disabled;
    }
    &.button--red {
      color: $color-red-disabled;
    }
  }
}

.button--disabled {
  pointer-events: none;
}

.button--fluid {
  width: 100%;
}

.button--hidden-text {
  .button__icon {
    margin-right: 0;
  }
  .button__content {
    display: none; // TODO: use visuallyHidden instead of display: none
  }
}
