/* Button Component */

// Dependencies
@import "@asda/core/style";

$button-height: 40px;
$button-secondary-border-width: 1px;
$button-secondary-border-width-hover: 2px;

// Block
.button {
  -moz-appearance: none;
  -webkit-appearance: none;

  font-family: $typography-font-family;
  @include typography(l);
  font-weight: 600;

  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  height: $button-height;
  min-width: 64px;
  padding: 0 $spacing-m;
  position: relative;
  z-index: 0;
  user-select: none;
  line-height: $button-height;

  background-color: $color-transparent;
  border: 0;
  border-radius: 4px;
  outline: none;
  overflow: hidden;

  &::-moz-focus-inner {
    border: 0;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color-transparent;
    opacity: 1;
  }

  &::before {
    z-index: 2;
  }

  &.button--hover,
  &:focus,
  &:hover {
    cursor: pointer;
    box-shadow: $shadow--lv2;
  }

  &:active {
    &::before {
      background-color: $color-black;
      opacity: 0.1;
      z-index: 0;
    }
  }
}

// Elements
.button__text {
  height: $button-height;
  position: relative;
  z-index: 1;
}

.button__icon {
  margin-right: $spacing-xs;
  position: relative;
  z-index: 1;
}

// Modifiers
.button--primary {
  color: $color-white;

  &:focus,
  &:hover,
  &.button--hover {
    &::after {
      background-color: $color-black;
      opacity: 0.1;
    }
  }
}

.button--green {
  background-color: $color-green;
}

.button--blue {
  background-color: $color-blue;
}

.button--secondary {
  background-color: $color-white;
  border: solid $button-secondary-border-width $color-medium-gray;
  padding: 0 $spacing-m - $button-secondary-border-width;
  line-height: $button-height - ($button-secondary-border-width * 2);

  &.button--green {
    color: $color-green;
  }

  &.button--blue {
    color: $color-blue;
  }

  &:focus,
  &:hover,
  &.button--hover {
    border: solid $button-secondary-border-width-hover currentColor;
    padding: 0 ($spacing-m - $button-secondary-border-width-hover);
    line-height: $button-height - ($button-secondary-border-width-hover * 2);

    &::after {
      background-color: currentColor;
      opacity: 0.1;
    }
    .button__text {
      height: $button-height - ($button-secondary-border-width-hover);
    }
  }
  &:active {
    &::before {
      background-color: currentColor;
    }
  }
}

.button--disabled {
  pointer-events: none;

  &::before {
    background-color: $color-white;
    opacity: 0.5;
  }
}

.button--fluid {
  width: 100%;
}

.button--hidden-text {
  .button__icon {
    margin-right: 0;
  }
  .button__text {
    display: none; // TODO: use visuallyHidden instead of display: none
  }
}
