/* Android • Lists Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Variables

// Block
.android-selection-controls-page {

}

// Elements/Mixes
.android-selection-controls-page__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  margin-bottom: 60px;
  max-width: 689px;
}

.android-selection-controls-page__stack-grid-item {
  margin: 0 auto;
}

// Modifiers
.android-selection-controls-page__grid--multiple-gray {
  background: $color-background-gray;
  padding: 60px $spacing-xl;
  max-width: 878px;
}

// Breakpoints
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .android-selection-controls-page__grid {
    grid-template-columns: 1fr 1fr;
  }
  .android-selection-controls-page__grid--3-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1280px) {

}
