/* Accordians Page */

// Dependencies
@import "@asda/core/style";
@import "../components/sg-core/style";

// Block
.accordians-page {

}

// Elements/Mixes
.accordians-page__padding-example {
  margin-bottom: $spacing-xxxl;
}

// Elements/Mixes
.accordians-page__grid {
  max-width: 879px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0 $spacing-xs;
}

.accordians-page__grid-item {
  padding: $spacing-m 0;
}

.accordians-page__credit-card-info {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  margin-left: $spacing-xs;
}

.accordians-page__credit-card-icon {
  display: none;
  margin-right: $spacing-xs;
}

.accordians-page__delivery-details {
  padding: 0;
  list-style: none;
}

.accordians-page__delivery-details__item {
  display: flex;
  align-items: flex-start;
  &:nth-child(1) {
    margin-bottom: $spacing-m;
  }
}

.accordians-page__delivery-details__icon {
  background: $color-light-gray;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-right: $spacing-m;
}

.accordians-page__text-field__credit-card {
  max-width: 400px;
}

.accordians-page__text-field__credit-card-icon {
  position: absolute;
  left: $spacing-s;
  top: $spacing-xxs;
}

// Breakpoints
@media (min-width: 480px) {
  .accordians-page__credit-card-icon {
    display: inline-block;
  }
}
