/* Icons Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.icons-page {

}

// Elements/Mixes
.icons-page__grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: $spacing-m;
}

.icons-page__grid-item {
  position: relative;
  max-width: 120px;
}

.icons-page__grid-icon-stroke,
.icons-page__grid-basic-shapes {
  grid-template-columns: 1fr;
}

.icons-page__download-bar {
  $download-bar-height: $spacing-xl;
  position: absolute;
  bottom: -$download-bar-height;
  left: 0;
  opacity: 0;
  height: $download-bar-height;
  transition: opacity 200ms cubic-bezier(0.0, 0.0, 0.2, 1);
  display: flex;
  align-items: flex-end;
}

.icons-page__grid-item:hover {
  .icons-page__download-bar {
    opacity: 1;
  }
}

.icons-page__download-link {
  @include typography(s);
  &:first-child {
    padding-right: $spacing-m;
  }
}

.icons-page__download-text {
  @include typography(s);
  font-weight: 600;
}

// Breakpoints
@media (min-width: 480px) {
  .icons-page__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .icons-page__grid-basic-shapes {
    grid-template-columns: 1fr 1fr;
  }

  .icons-page__grid-icon-stroke {
    grid-template-columns: 1fr;
    max-width: 680px;
  }
}

@media (min-width: 1024px) {
  .icons-page__grid-basic-shapes {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .icons-page__grid-icon-stroke {
    grid-template-columns: 1fr 1fr;
  }
}
