/* Sample Page */

// Dependencies
@import "@asda/core/style";
@import "../components/sg-core/style";

// Variables
$sample-page-element-height: 250px;
$sample-page-mix-border-color: $color-medium-gray;

// Block
.sample-page {

}

// Elements/Mixes
.sample-page__component {
  margin-bottom: $spacing-xxl; 
}

// Modifiers
.sample-page--modifier {

}
.sample-page__element--modifier {

}

// Breakpoints
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

// Animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
