// Dependencies
@import "@asda/core/style";

// Block
.menu {
  padding: 44px 0;
}

// Elements/Mixes
.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item {
  height: 36px;
  padding-right: 16px;
}

.menu__anchor {
  @include typography(m);
  vertical-align: middle;
  padding: 0 12px 0 20px;
  line-height: 36px;
  height: 100%;
  display: inline-block;
  width: 100%;
  color: #3d3d3d;
  text-decoration: none;
  &:hover {
    background: #F6F6F6;
  }
}

.menu__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
}

// Modifiers
.menu--active {
  font-weight: 600;
  background: #F6F6F6;
}

@media (min-width: 768px) {
  .menu {
    position: sticky;
    left: 0;
    top: 64px;
    padding: 16px 0;
  }
}
