/* Content • Style & Usage Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Variables

// Block
.content-style-usage-page {

}

// Elements/Mixes
.content-style-usage-page__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-m;
  max-width: 780px;
  margin-top: $spacing-m;
}

.content-style-usage-page__recommendation {
  padding: $spacing-m $spacing-m 0 64px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.content-style-usage-page__recommendation__paragraph {
  padding: 0;
  margin: 0;
  background: $color-white;
  border-radius: 4px 4px 0 0;
  width: 100%;
  padding: $spacing-xs $spacing-m;
  overflow: hidden;
}

.content-style-usage-page__recommendation__slot {
  @include typography(s);
  color: $color-dark-gray;
  margin: $spacing-m 64px;
  background: $color-white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 68px;
}

.content-style-usage-page__recommendation__cell {
  background-color: $color-white;
  border-radius: 4px 4px 0 0;
  padding: $spacing-xs $spacing-m;
}

.content-style-usage-page__recommendation__cell-group {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $spacing-m;
}

.content-punctuation-page__modal {
  position: static;
}

.content-punctuation-page__modal-container {
  width: 100%;
}

.content-punctuation-page__modal-textfield {
  margin: $spacing-m 0;
}

.content-punctuation-page__modal-paragraph {
  text-align: center;
}

.content-punctuation-page__modal-strong {
  font-weight: 600;
}

.content-punctuation-page__modal-button {
  width: 100%;
  margin-bottom: $spacing-m;  
}

// Modifiers

// Breakpoints
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {
  .content-style-usage-page__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {

}
