// Dependencies
@import "@asda/core/style";

// Block
.sg-menu {
  padding: $spacing-xxl 0;
}

// Elements/Mixes
.sg-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sg-menu__item {
  height: 36px;
  padding-right: $spacing-m;
}

.sg-menu__anchor {
  @include typography(m);
  vertical-align: middle;
  padding: 0 $spacing-s 0 $spacing-l;
  line-height: 36px;
  height: 100%;
  display: inline-block;
  width: 100%;
  color: #3d3d3d;
  text-decoration: none;
  &:hover {
    background: #F6F6F6;
  }
}

.sg-menu__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
}

// Modifiers
.sg-menu--active {
  font-weight: 600;
  background: #F6F6F6;
}

@media (min-width: 768px) {
  .sg-menu {
    position: sticky;
    left: 0;
    top: 64px;
    padding: $spacing-m 0;
  }
}
