// Dependencies
@import "@asda/core/style";

$sg-menu-item-height: 60px;

// Block
.sg-menu {
  padding: $spacing-xxl 0;
}

// Elements/Mixes
.sg-menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sg-menu__item {
  height: $sg-menu-item-height;
}

.sg-menu__anchor {
  @include typography(l);
  vertical-align: middle;
  padding: 0 $spacing-s 0 $spacing-l;
  line-height: $sg-menu-item-height;
  height: 100%;
  display: inline-block;
  width: 100%;
  color: $color-charcoal;
  text-decoration: none;
  &:hover {
    background: $color-background-gray;
  }
}

.sg-menu__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0;
  background-color: $color-transparent;
  border: none;
  user-select: none;
  -webkit-appearance: none;
  cursor: pointer;
}

// Modifiers
.sg-menu--active {
  font-weight: bold;
  background: $color-background-gray;
}

@media (min-width: 768px) {
  .sg-menu {
    position: sticky;
    left: 0;
    top: 325px;
    padding: 0;
  }
}
