/* Web • Layout Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.layout-page {

}

// Elements/Mixes
.layout-page__table {
  @include typography(m);
  width: 100%;
  max-width: 700px;
  border-collapse: collapse;
  // We are breaking BEM rules here and use element selectors instead classes to
  // avoid to pollute the markup with long classNames on each table element.

  & tr {
    height: 60px;
    border-bottom: solid 1px $color-light-gray;
    &:last-of-type {
      border-bottom: solid 1px $color-medium-gray;
    }
  }

  & th {
    font-weight: 600;
    text-align: left;
    padding-right: $spacing-xs;
  }
}

// Breakpoints
@media (min-width: 480px) {
  .layout-page__table {
    @include typography(xl);

    & tr {
      height: 80px;
    }
    & th {
      padding-right: $spacing-l;
    }
  }
}
