/* Sample Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Variables

// Block
.common-guiding-principles-page {

}

// Elements/Mixes
.common-guiding-principles-page__component {
  margin-bottom: $spacing-xxxl;
}

// Modifiers
.common-guiding-principles-page--modifier {

}
.common-guiding-principles-page__element--modifier {

}

// Breakpoints
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

// Animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
