/* Style Guide • Layout */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

$sg-layout__aside-width: 314px;

.sg-layout {
  min-width: 320px;
  height: 100%;
}

.sg-layout__container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.sg-layout__main {
  width: 100%;
  padding: 48px $spacing-l $spacing-l $spacing-l;
  margin: 0 auto;
  max-width: 1280px;
}

.sg-layout__section {
  padding: $spacing-xxxl 0;
  border-bottom: solid 1px $color-medium-gray;
  &:last-of-type {
    border-bottom: none;
  }
}

.sg-layout__header {
  position: fixed;
  min-width: 320px;
  width: 100%;
  height: 48px;
  padding: 0 $spacing-l;
  display: flex;
  background: $color-white;
  top: 0;
  left: 0;
  border-bottom: solid 1px $color-medium-gray;
  z-index: 200;
}

.sg-layout__aside__logo {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 320px;
  border-bottom: solid 1px $color-medium-gray;
}

.sg-layout__header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.sg-layout__header__menu-button {
  position: absolute;
  left: 20px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  padding: 0;
  background-color: transparent;
  border: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.sg-layout__aside {
  width: $sg-layout__aside-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 400;
  transform: translateX(-100%);
  border: 1px $color-medium-gray;
  border-style: none solid;
  background: $color-white;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.sg-layout__aside--visible {
  transform: translateX(0);
  transition: transform 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

.sg-layout__heading1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
  padding: $spacing-xxxl 0;
  border-bottom: solid 1px $color-medium-gray;
}

.sg-layout__heading2 {
  @include typography(xxxl);
  margin: 0 0 $spacing-m 0;
}

.sg-layout__heading3 {
  @include typography(xl);
  margin: 0 0 $spacing-m 0;
}

.sg-layout__paragraph {
  @include typography(l);
  margin: 0 0 $spacing-xxxl 0;
  overflow-wrap: break-word;
}

.sg-layout__figure {
  margin: 0 0 $spacing-xxxl 0;
}

.sg-layout__figure-container {
  background-color: $color-background-gray;
  padding: 60px $spacing-xl;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.sg-layout__figure__caption,
.sg-layout__caption {
  @include sg-typography(xs);
}

.sg-layout__figure__caption {
  margin: 0 0 $spacing-m 0;
}

.sg-layout__list {
  padding: 0;
  list-style-position: inside;
}

.sg-layout__featured-section {
  background: $color-background-gray;
  padding: $spacing-l;
  margin-bottom: 40px;

  .sg-layout__paragraph {
    margin-bottom: $spacing-l;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .sg-layout__heading3 {
    margin-bottom: $spacing-xxs;
  }
}

// Modifiers
.sg-layout__caption--position-top {
  margin-bottom: $spacing-m;
}

.sg-layout__caption--position-bottom {
  margin-top: $spacing-xs;
}

.sg-layout__figure--fluid {
  .sg-layout__figure__img {
    width: 100%;
    vertical-align: middle;
  }
}

.sg-layout--no-margin,
.sg-layout__paragraph--no-margin,
.sg-layout__figure--no-margin,
.sg-layout__figure-container--no-margin,
.sg-layout__featured-section--no-margin {
  margin: 0;
}

@media (min-width: 768px) {
  .sg-layout {
    display: flex;
    flex-wrap: wrap;
  }

  .sg-layout__header {
    height: 64px;
  }

  .sg-layout__header__logo {
    height: auto;
  }

  .sg-layout__header__content {
    justify-content: flex-start;
  }

  .sg-layout__aside {
    height: auto;
    position: static;
    transform: none;
    z-index: auto;
    box-shadow: none;
  }

  .sg-layout__main {
    width: calc(100% - #{$sg-layout__aside-width});
    padding: 0 $spacing-xxxl $spacing-xxxl $spacing-xxxl;
  }

  .sg-layout__heading1,
  .sg-layout__section {
    padding: 80px 0;
  }
}
