// Functions
@function rem($pixels, $context: 16) { // Convert px to rem
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

// Variables
$typography-font-family: "Source Sans Pro", sans-serif !default;

$typography-font-weight-values: (
  regular: 400,
  semi-bold: 600,
  bold: 700
) !default;

$typography-styles: (

  xxxl: (
    font-size: rem(36px),
    letter-spacing: rem(0.6px),
    line-height: rem(48px)
  ),
  xxl: (
    font-size: rem(28px),
    letter-spacing: rem(0.3px),
    line-height: rem(36px)
  ),
  xl: (
    font-size: rem(22px),
    letter-spacing: rem(0.3px),
    line-height: rem(28px)
  ),
  l: (
    font-size: rem(18px),
    letter-spacing: rem(0.2px),
    line-height: rem(24px)
  ),
  m: (
    font-size: rem(16px),
    letter-spacing: rem(0.2px),
    line-height: rem(20px)
  ),
  s: (
    font-size: rem(14px),
    letter-spacing: rem(0.2px),
    line-height: rem(16px)
  ),
  xs: (
    font-size: rem(12px),
    letter-spacing: rem(0.1px),
    line-height: rem(16px)
  )

) !default;

// Mixins
@mixin typography-base {
  font-family: $typography-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin typography($style) {
  $style-props: map-get($typography-styles, $style);

  @if not map-has-key($typography-styles, $style) {
    @error "Invalid style specified! Choose one of #{map-keys($typography-styles)}";
  }

  @each $key, $value in $style-props {
    #{$key}: $value;
  }
}

// Element must be `display: block` or `display: inline-block` for this to work.
@mixin typography-overflow-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
