/* CreditCardIcon Component */

// Dependencies
@import "@asda/core/style";

// Block
.credit-card-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle; // Keep inline elements vertically aligned
}

// Elements/Mixes
.credit-card-icon__svg {
  vertical-align: middle; // Correct image alignment
}

// Modifiers
.credit-card-icon--large {
  .credit-card-icon__svg {
    width: 60px;
    height: 40px;
  }
}

.credit-card-icon--small {
  .credit-card-icon__svg {
    width: 32px;
    height: 22px;
  }
}
