/* Content • How to Write */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.content-how-to-write-page {

}

// Elements/Mixes

.content-how-to-write-page__custom-recommendation {
  background: $color-background-gray;
}

.content-how-to-write-page__custom-recommendation-status {
  left: -$spacing-s;
}

.content-how-to-write-page__custom-recommendation-table {
  width: calc(100% - #{$spacing-s * 2});
  border-collapse: collapse;
  margin: $spacing-s;
  & td {
    height: 68px;
    width: 50%;
  }

  & thead td {
    position: relative;
  }

  & tbody td {
    border-bottom: solid 1px $color-white;
    padding: $spacing-m $spacing-s;
  }

  & tbody tr:last-child td {
    border: none;
  }
}

// Breakpoints
@media (min-width: 480px) {
  .content-how-to-write-page__custom-recommendation-status {
    left: -$spacing-l;
  }
  .content-how-to-write-page__custom-recommendation-table {
    width: calc(100% - #{$spacing-l * 2});
    margin: $spacing-l;
  }
}
