/* Sample Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Block
.ios-search-bars-page {

}

// Elements/Mixes
.ios-search-bars-page__examples {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 810px;
}

.ios-search-bars-page__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ios-search-bars-page__list-item {
  margin-bottom: $spacing-xxl;
}

.ios-search-bars-page__figure {
  margin-left: $spacing-xxxl;
}

// Modifiers
.ios-search-bars-page--modifier {

}
.ios-search-bars-page__element--modifier {

}

// Breakpoints
@media (min-width: 1024px) {
  .ios-search-bars-page__examples {
    flex-direction: row;
  }
}
