/* Sample Page */

// Dependencies
@import "@asda/core/style";
@import "../components/sg-core/style";

// Block
.icons-page {

}

// Elements/Mixes
.icons-page__grid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0 $spacing-m;
}

.icons-page__grid-item {
  padding: $spacing-m 0;
  // max-width: 160px;
}


// Breakpoints
@media (min-width: 480px) {
  .icons-page__grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
