/* Input Component */

// Dependencies
@import "@asda/core/style";

// Variables
$input-with-icon-padding-left: $spacing-xxl;
$input-height: 40px;

@mixin input_normalize {
  /**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
  font-family: inherit; /* 1 */
  margin: 0; /* 2 */

  /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
  overflow: visible;  /* 1 */
}

@mixin input_base {
  @include input_normalize;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &::-ms-clear { // Remove clear field "X" button from IE Edge
    display: none;
  }

  @include typography(m);
  border: solid 1px $color-medium-gray;
  border-radius: 4px;
  height: $input-height;
  padding: 0 $spacing-s;

  &::placeholder {
    color: $color-dark-gray;
  }

  &:hover {
    box-shadow: $shadow;
  }

  &:focus {
    border-color: $color-dark-gray;
  }
}

// Block
.input {
  display: inline-block;
  height: $input-height;
  width: 100%;
  position: relative;
}

// Elements/Mixes
.input__element {
  @include input_base;
  width: 100%;
}

.input__icon {
  position: absolute;
  left: $spacing-xs;
  top: 50%;
  transform: translateY(-50%);
}

.input__icon-check,
.input__icon-alert {
  display: none;
  position: absolute;
  right: $spacing-xs;
  top: 50%;
  transform: translateY(-50%);
}

.input__helper-text,
.input__success-message,
.input__error-message {
  display: block;
  @include typography(xs);
  color: $color-dark-gray;
  margin-top: $spacing-xxs;
}

.input__success-message {
  color: $color-green;
}

.input__error-message {
  color: $color-red;
}

// Modifiers
.input--with-icon {
  .input__element {
    padding-left: $input-with-icon-padding-left;
  }
}

// TODO Loop through sizes to build the extra padding styles
.input--extra-padding-left-xxx-large {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-xxxl;
  }
}

.input--extra-padding-left-xx-large {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-xxl;
  }
}

.input--extra-padding-left-x-large {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-xl;
  }
}

.input--extra-padding-left-large {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-l;
  }
}

.input--extra-padding-left-medium {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-m;
  }
}

.input--extra-padding-left-small {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-s;
  }
}

.input--extra-padding-left-x-small {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-xs;
  }
}

.input--extra-padding-left-xx-small {
  .input__element {
    padding-left: $input-with-icon-padding-left + $spacing-xxs;
  }
}

.input--validate {
  .input__element {
    padding-right: $spacing-xxl;

    &:valid {
      border: solid 2px $color-green;

      & ~ {
        .input__icon-check {
          display: inline-flex; // Default Icon display value
        }
        .input__error-message,
        .input__helper-text {
          display: none;
        }
      }
    }

    &:invalid {
      border: solid 2px $color-red;

      &::-moz-selection {
        background: $color-red;
      }

      &::selection {
        background: $color-red;
      }

      & ~ {
        .input__icon-alert {
          display: inline-flex; // Default Icon display value
        }
        .input__success-message,
        .input__helper-text {
          display: none;
        }
      }

      &:not(:hover) {
        box-shadow: none; // Reset default invalid box-shadow in FF
      }
    }
  }
}

.input--hover { // For demonstration purposes only
  .input__element {
    box-shadow: $shadow;
  }
}

.input--focus {
  .input__element { // For demonstration purposes only
    border-color: $color-dark-gray;
  }
}
