/* Label Component */

// Dependencies
@import "@asda/core/style";

// Block
.label {
  @include typography(s);
  display: block;
  margin-bottom: $spacing-xxs;
}

// Modifiers
.label--required::after {
  content: "\b*";
}

.label--optional::after {
  content: " - Optional";
  @include typography(xs);
  color: $color-dark-gray;
}

.label--inline {
  display: inline-block;
  margin: 0 0 0 $spacing-xs;
  vertical-align: middle;
}

.label--clickable {
  cursor: pointer;
}

.label--disabled {
  cursor: not-allowed;
}
