/* TextField Component */

// Dependencies
@import "@asda/core/style";
@import "mixins";

// Block
.text-field {
  display: inline-block;
  width: 100%;
  position: relative;
}

// Elements/Mixes
.text-field__element {
  @include text-field__element__base;
}

.text-field__icon-check,
.text-field__icon-alert {
  display: none;
  position: absolute;
  right: $spacing-xs;
  top: $spacing-xs;
}

.text-field__helper-text,
.text-field__char-counter,
.text-field__success-message,
.text-field__error-message {
  @include typography(xs);
  color: $color-dark-gray;
  margin-top: $spacing-xxs;
}

.text-field__helper-text,
.text-field__char-counter {
  display: inline-block;
}

.text-field__success-message,
.text-field__error-message {
  display: none;
}

.text-field__char-counter {
  float: right;
}

.text-field__success-message {
  color: $color-green;
}

.text-field__error-message {
  color: $color-red;
}

.text-field__search-button {
  padding: 0;
  width: $text-field-search-button-width;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  position: absolute;
  right: 0;
  top: 0;
}

// Modifiers
.text-field--with-icon {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left;
  }
}

.text-field--multiline {
  .text-field__element {
    height: auto;
    resize: none;
    overflow: auto; // Remove the default vertical scrollbar in IE 10+.
  }
}

// TODO Loop through sizes to build the extra padding styles
.text-field--extra-padding-left-xxx-large {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-xxxl;
  }
}

.text-field--extra-padding-left-xx-large {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-xxl;
  }
}

.text-field--extra-padding-left-x-large {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-xl;
  }
}

.text-field--extra-padding-left-large {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-l;
  }
}

.text-field--extra-padding-left-medium {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-m;
  }
}

.text-field--extra-padding-left-small {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-s;
  }
}

.text-field--extra-padding-left-x-small {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-xs;
  }
}

.text-field--extra-padding-left-xx-small {
  .text-field__element {
    padding-left: $text-field-with-icon-padding-left + $spacing-xxs;
  }
}

.text-field--validate {
  .text-field__element {
    padding-right: $spacing-xxl;
    padding-top: $text-field-vertical-padding - $text-field-border-thick-witdh;
    padding-bottom: $text-field-vertical-padding - $text-field-border-thick-witdh;

    &:valid {
      border: solid $text-field-border-thick-witdh $color-green;

      & ~ {
        .text-field__success-message,
        .text-field__icon-check {
          display: inline-flex; // Default Icon display value
        }
        .text-field__error-message,
        .text-field__helper-text {
          display: none;
        }
      }
    }

    &:invalid {
      border: solid 2px $color-red;

      &::-moz-selection {
        background: $color-red;
      }

      &::selection {
        background: $color-red;
      }

      & ~ {
        .text-field__error-message,
        .text-field__icon-alert {
          display: inline-flex; // Default Icon display value
        }
        .text-field__success-message,
        .text-field__helper-text {
          display: none;
        }
      }
    }
  }
  &.text-field--search {
    .text-field__element {
      padding-right: $spacing-xl + $text-field-search-button-width;
    }
  }
}

.text-field--hover { // For demonstration purposes only
  .text-field__element {
    box-shadow: $shadow;
  }
}

.text-field--focus {
  .text-field__element { // For demonstration purposes only
    border-color: $color-dark-gray;
  }
}

.text-field--search {
  .text-field__element {
    padding-right: $text-field-horizontal-padding + $text-field-search-button-width;
    &::-webkit-search-cancel-button {
      -webkit-appearance:none;
    }
  }
  .text-field__icon-check,
  .text-field__icon-alert {
    right: $spacing-xs + $text-field-search-button-width;
  }
}
