/* Introduction • Atomic Design Page */

// Dependencies
@import "@asda/core/style";
@import "@sg/sg-core/style";

// Variables

// Block
.introduction-atomic-design-page {

}

// Elements/Mixes
.introduction-atomic-design-page__atomic-element {
  margin-bottom: $spacing-xxxl;
  max-width: 878px;
  min-height: 127px;
}

.introduction-atomic-design-page__atomic-element__figure {
  float: left;
  margin-right: $spacing-xxxl;
}

// Modifiers

// Breakpoints
@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}
