// Theme

// Variables

// Color Styles
$theme-primary: #68A51C !default;
$theme-secondary: #0073B1 !default;
$theme-warning: #F7CC00 !default;
$theme-error: #D43030 !default;

// Greys
$theme-charcoal: #3D3D3D !default;
$theme-dark-gray: #767676 !default;
$theme-medium-gray: #CCCCCC !default;
$theme-light-gray: #EEEEEE !default;
$theme-background-gray: #F6F6F6 !default;
$theme-border: rgba(black, 0.07) !default;
$theme-divider: rgba(black, 0.07) !default;


// Mixins
