// Dependencies
@import "@asda/core/style";

@include font-face;

html {
  @include typography-base;
  color: $color-charcoal;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  overscroll-behavior: none;
}

// Generate typography selectors (e.g., .typography--s, .typography--m, etc.)
@include typography-selectors;
