/**
 * Spinner component
 */

// Dependencies
@import "./variables";

// Block
.apl-spinner {
  display: inline-block;
}

// Elements
.apl-spinner__container {
  width: $apl-spinner-size;
  height: $apl-spinner-size;
  position: relative;
}

.apl-spinner__circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.apl-spinner__circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $apl-spinner-color;
  border-radius: 100%;
  animation: apl-spinner__circleFadeDelay 1.2s infinite ease-in-out both;
}

.apl-spinner__overlay {
  background: $apl-spinner-overlay-bg-color;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

// Component modifiers
.apl-spinner--small {
  .apl-spinner__container {
    width: $apl-spinner-small-size;
    height: $apl-spinner-small-size;
  }
  &.apl-spinner--center {
    margin: $apl-spinner-small-half-size 0 0 $apl-spinner-small-half-size;
  }
}

.apl-spinner--large {
  .apl-spinner__container {
    width: $apl-spinner-large-size;
    height: $apl-spinner-large-size;
  }
  &.apl-spinner--center {
    margin: $apl-spinner-large-half-size 0 0 $apl-spinner-large-half-size;
  }
}

.apl-spinner--center {

  // Reminder: To have the Spinner correctly aligned, please set one of
  // the parent elements as "position: relative"
  position: absolute;
  top: 50%;
  left: 50%;
  margin: $apl-spinner-medium-half-size 0 0 $apl-spinner-medium-half-size;
}

@while $apl-spinner-deg <= 330 {
  .apl-spinner--rotate-#{$apl-spinner-deg}deg {
    transform: rotate(#{$apl-spinner-deg}deg);

    &:before {
      animation-delay: #{$apl-spinner-sec}s;
    }
  }

  $apl-spinner-deg: $apl-spinner-deg + 30;
  $apl-spinner-sec: $apl-spinner-sec + 0.1;
}

// Animation
@keyframes apl-spinner__circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}
