/* Icon Style */

@import "@asda/theme/mixins";

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper--green {
  svg {
    g, use {
      fill: $theme-primary;
    }
  }
}

.icon-wrapper--red {
  svg {
    g, use {
      fill: $theme-error;
    }
  }
}

.icon-wrapper--blue {
  svg {
    g, use {
      fill: $theme-secondary;
    }
  }
}

.icon-wrapper--gray {
  svg {
    g, use {
      fill: $theme-dark-gray;
    }
  }
}

.icon-wrapper--white {
  svg {
    g, use {
      fill: #ffffff;
    }
  }
}

.icon-wrapper--check {
  margin-left: -1px;
}
